:root{
    --fontHeading: 'PT Sans', sans-serif;
    --fontParrafo: 'Open Sans', sans-serif;
    
    --primary: #0078ff;
    --secondary: #15172b;
    --gray: #bbbdbf;
    --white: #fff;
    --dark: #111222bf;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before{
    box-sizing: inherit;
}
body{
    font-family: var(--fontParrafo);
    font-size: 1.6rem;
    line-height: 2;
    background-color: var(--secondary);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*global*/
.container{
    width: 100%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--fontHeading);
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
/*utilities*/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.center-text{
    text-align: center;
}
/*Header*/
.header{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__text{
    text-align: center;
    color: var(--primary);
    margin-top: 5rem;
}
@media (min-width: 768px){
    .header__text{
        margin-top: 15rem;
    }
}
.bar{
    padding: 0rem 10rem;
    background-color: var(--dark);
    flex-shrink: 1;
}
@media (min-width: 768px) {
    .bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        backdrop-filter: blur(1rem);
        background-color: #111222bf;
        width: 100%;
    }
}
.logo{
    color: var(--white);
}
.logo__name{
    font-weight: 400;
}
.logo__bold{
    font-weight: 600;
}
@media (min-width: 768px) {
    .navigation{
        display: flex;
        gap: 5rem;
    }
}
.navigation__link{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--white);
}
.newBook{
    display: flex;
    width: 90%;
    justify-content: flex-start;
    padding-top: 11.6rem;
    padding-left: 2rem;
}
@media (max-width: 768px) {
    .newBook{
        padding: 2rem;
    }
}
.button-modal{
    width: 100%;
}
.button{
    background-color: var(--primary);
    border-radius: .6rem;
    border: 0;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    font-size: 1.8rem;
    height: 5rem;
    outline: 0;
    text-align: center;
    width: 100%;
}
@media (min-width: 768px) {
    .button-modal{
        width: 25rem;
    }
}
/*----------------------*/
/*Effect*/
.modalmask {
    position: fixed;
    font-family: var(--fontParrafo);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(1rem);
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}
/*Formato de la ventana*/
.modalbox{
    position: relative;
    width: 75%; 
    padding: 2rem;
    background: var(--secondary);
    color: var(--white);
    border-radius:.6rem;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}
/*Movimientos*/
.movedown {
    margin: 0 auto;
}
.modalmask:target .movedown{       
    margin: 10% auto;
}
@media (max-height: 552px) {
    .modalbox{
        position: relative;
        max-height: calc(100vh - 10rem);
        overflow-y: auto;
    }
    .modalmask:target .movedown{
        position: relative;
        margin: 5% auto;
    }
}
/*close button*/
.close {
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:50%;
 
}
.close:hover{
    backdrop-filter: blur(25rem);
    background-color: rgba(255, 255, 255, .2);
}
/*form*/
.container-fields{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    row-gap: 3rem;
}

.input-container {
    height: 5rem;
    position: relative;
    width: 100%;
} 
.input {
    background-color: #303245;
    border-radius: .6rem;
    border: 0;
    box-sizing: border-box;
    color: var(--white);
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}
.cut {
    background-color: var(--secondary);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}
.cut-short {
    width: 50px;
    display: inline-block;
} 
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}
.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}
.input:not(:placeholder-shown) ~ .placeholder {
    color: #34da1f;
}
.input:focus ~ .placeholder {
    color: #dc2f55;
}
.submit {
    background-color: var(--primary);
    border-radius: .6rem;
    border: 0;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}
.submit:active {
    background-color: #06b;
}
/*Search for books*/
.searchBooks{
    width: 90%;
    padding: 2rem;
    color: var(--white);
}
.containerSearch{
    display: grid;
    flex-direction: column;
    flex-grow: 2;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.search{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
@media (min-width: 768px) {
    .containerSearch{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        column-gap: 1rem;
        row-gap: 2rem;
    }
    .search{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
    }
}